/* ---------- Universel ----------- */

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #404040;
}

header {
    background-color: #404040;
    padding: 40px;
}

.logo {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    letter-spacing: 1px;
    transition: 0.8s ease;
}

.logo:hover {
    color: #cc0000;
}

ul {
    position: sticky;
    top: 0;
    list-style-type: none;
    display: flex;
    background-color: rgb(241, 241, 241);
    justify-content: flex-end;
    z-index: 99;
}

ul li {
    display: inline;
    transition: 0.8s ease;
    cursor: pointer;
}

ul li a {
    display: block;
    text-decoration: none;
    padding: 16px 0;
    color: #000;
    transition: 0.8s ease;
    width: 180px;
    text-align: center;
    letter-spacing: .8px;
}

ul li a .menusym {
    display: none;
}

.active {
    background-color: #4CAF50;
    color: #fff;
}

ul li a:hover:not(.active) {
    background-color: #cc0000;
    color: #fff;
}

.menuBar {
    display: none;
    padding: 16px;
    text-align: center;
    background-color: rgb(241, 241, 241);
}

.menuBar span{
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
}

.menuCover {
    position: fixed;
    display: none;
    grid-row: repeat(8, 1fr);
    width: 100vw;
    height: 100vh;
    padding: 5%;
    background-color: #404040;
    z-index: 999;
}

.menuCover div p {
    text-align: center;
    letter-spacing: 1px;
}

.menuCover span {
    cursor: pointer;
    color: #fff;
}

.menuCover span:hover {
    color: #4CAF50;
}

.menuCover div p a {
    text-decoration: none;
    font-size: 22px;
    color: #fff;
    transition: .8s;
}

.menuCover div p a:hover {
    color: #cc0000;
}

.menuCover div p a.activeBar {
    color: #4CAF50;
}


footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 50px;
    background-color: #404040;
}
.inner_footer_first {
    width: 600px;
}
.inner_footer_second {
    width: 360px;
}
.inner_footer_third {
    width: 240px;
}
.footer_heading {
    margin-top: 75px;
    color: #fff;
    letter-spacing: 1px;
}
.fh2 {
    margin-bottom: 10px;
}
.fh3 {
    margin-bottom: 6px;
}
.footer_details {
    padding: 25px 60px 25px 0;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5)
}
.footer_links {
    padding: 15px 0;
    margin-right: 60px;
    border-bottom: 1px solid black;
}
.footer_links_third {
    padding: 12px 0;
    font-size: 18px;
    letter-spacing: 1px;
}
.fl {
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.5);
    transition: ease .8s;
}
.fl:hover {
    color: #cc0000;
}
.social_svg {
    position: relative;
    top: 5px;
    width: 25px;
    margin-right: 20px;
}
.line {
    width: 90%;
    margin-top: 50px;
    border-top: 1px solid #000;
}
.bottom_details {
    margin-top: 25px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.5);
}

/* Responsive Screen Width-1275px Start */
/*
@media screen and (max-width: 1270px) {
    ul.menu {
        display: block;
        position: static;
    }
    ul li a {
        width: 100%;
    }
}*/

@media screen and (max-width: 1290px) {
    .innerfooter {
    }
}
@media screen and (max-width: 1280px) {
    .menuBar {
        display: block;
    }
    ul.menu {
        display: none;
    }
    
}
@media screen and (max-width: 800px) {
    footer {
        padding: 50px 25px
    }
    .menuBar {
        padding: 12px;
    }
    .logo {
        font-size: 20px;
    }
}

@media screen and (max-width: 500px) {
    
    .menuCover div p a {
        font-size: 18px;
    }
    .menuBar {
        padding: 10px;
    }
}
@media screen and (max-width: 1300px) {
    footer {
        justify-content: flex-start;
    }
}
@media screen and (max-width: 1059px) {
    footer {
        justify-content: center;
    }
}
@media screen and (max-width: 700px) {
    footer {
        justify-content: flex-start;
    }
}
@media screen and (max-width: 325px) {
    .logo {
        font-size: 18px;
    }
}

/* Responsive Screen Width-1275px End */